manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    api_key = ''
    cores = '8'    
    fork_max = 2
    help = false
    
    
    // input
    input = ''
    assembly_nrs = ''
    biosample_nrs = ''
    
    // folder structure
    output = 'NCBI_results'

}

profiles {
    standard {
        workDir = "/tmp/nextflow-downloader-$USER"
	    includeConfig 'configs/container.config'
        docker { enabled = true }
        docker { fixOwnership = true }
    }

}
